.page-wrap {
  display: flex;
  flex-flow: row nowrap;
  height: 100vh;

}
.sidebar {
  width: 94px;
  flex-shrink: 0;
}
.center-block {
  // padding: 40px;
  flex-grow: 1;
  background-color: var(--centerBg);
}
